*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background: #223243 url("../../ressources/images/boxer-1280.jpg") fixed;
}

.container{
    width: 80vw;
    height: 100%;
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 20px;
    border: 8px solid #223243;
    box-shadow:
            -5px -5px 15px rgba(255, 255, 255, 0.1),
            5px 5px 15px rgba(0, 0, 0, 0.35),
            inset -5px -5px 15px rgba(255, 255, 255, 0.1),
            inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}


